body {
  background-color: #f9fcfa;
  direction: rtl;
}

img {
  cursor: pointer;
}
span {
  cursor: pointer;
  text-align: center;
}

header,
footer {
  width: 100%;
  z-index: 1;
}
.container {
  /* margin: 0; */
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}

/* Main content styling */
main {
  flex: 1; /* Allows main to grow and fill the available space */
  padding: 0;
  background-color: #f9fcfa;
  margin: 10px;
}

footer,
header {
  width: 100%;
}
main {
  width: 80%;
  margin: auto;
}
/* buttons styling */
/* button {
  background-color: #1c8657;
  color: #e3efea;
} */

.hidden-sorting-reset {
  background-color: #ffffff;
  color: #196495;
  border: 1px solid blue;
}

/* page-title styling*/
.page-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
}
.page-title h2 {
  color: #07584c;
  font-weight: bold;
}
.create-new {
  background-color: var(--primary-light);
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 235px;
  color: white;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.icon-filters {
  float: left;
  margin: 1rem;
}

/* hidden filter-section styling */
.hidden-sorting {
  /* display: grid; */
  display: none;
  margin: 10% 0;
  background-color: #ffffff;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
}

.hidden-sorting h2,
h3 {
  grid-column: 1/2;
  padding: 0px;
  margin-top: 1.5rem;
  grid-row: 1/2;
  margin-right: 20px;
  gap: 10px;
  font-size: 20px;
}
.hidden-sorting h2 {
  font-weight: bold;
  height: 30px;
  width: 60px;
  color: #0b594c;
  margin-top: 2rem;
  margin-bottom: 0;
}

.hidden-sorting h3 {
  margin-top: 4rem;
  /* font-size: 20px; */
  /* color: #0e77bb; */
}
.divider {
  margin-top: -8rem;
  grid-column: span 3;
  border: none;
  border-top: 2px solid #ddd;
}

.hidden-sorting h3,
label {
  color: #0e77bb;
}

.arabic-form,
.english-form {
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
  width: 60%;
}

.hidden-sorting input {
  border: 0;
  border-bottom: 1px solid rgb(179, 178, 178);
}
.arabic-form input,
.english-form input {
  width: 260px;
  height: 50px;
}
.hidden-sorting input::placeholder {
  font-size: 18px;
  color: gray;
  justify-content: end;
  padding-bottom: 20px; /* Add space at the bottom of the placeholder */
  padding-right: 20px; /* Add space on the right side of the placeholder */
  position: absolute; /* Make sure placeholder is positioned */
  top: 0; /* Align placeholder to the top */
  right: 0; /* Stretch placeholder to the right */
}

.arabic-form label,
.english-form label {
  font-size: 14px; /* Change this value to adjust the label font size */
  margin-bottom: 8px; /* Space between label and input field */
}

.hidden-buttons {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-left: 1rem;
  display: flex; /* Use Flexbox inside grid items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hidden-sorting-search,
.hidden-sorting-reset {
  padding: 5px;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 0;
  width: 100px;
  font-weight: bold;
}

.icon-close {
  margin-top: 1rem;
  grid-column: 3/4;
  width: 50px;
  height: 50px;
  justify-self: end;
}

.hidden-sorting-search {
  align-items: start;
  margin: 0;
  grid-column: 4/5;
  /* width: 3rem; */
  width: 75px;

  background-color: var(--primary);
  color: white;
  border: 0;
}

/* table styling */
.table-section {
  width: 100%;
  margin: 2rem 0rem;
}

table {
  direction: rtl;
  text-align: right;
  counter-reset: none;
  align-self: center;
  width: 100%;
  border: 1px solid #ddd;
}

thead {
  cursor: pointer;
  background-color: var(--primary-light);
  border: 1px solid #ddd;
  color: white;
  text-align: right;
}

th {
    padding: 10px;

}

 /* tbody tr {
  counter-increment: rowNumber;
} 

tbody tr::before {
  content: counter(rowNumber);
  display: table-cell;
}  */

tbody tr:nth-child(even) {
  background-color: #f9fcfa;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}



td:last-child {
  text-align: center;
}
td,
tr {
  border: 1px solid #d4d4d4;
  width: 750px;
} 

td:nth-child(1),td:nth-child(5){
  width: 150px;
}
td:nth-child(2),td:nth-child(3){
  min-height: 200px;
  max-height: 350px;
}
.time {
  width: 100px;
  display: block;
  color: gray;
  border: 0;
  text-align: end;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
}

.footer-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  width: 100%;
  color: #0d5f53;
  font-weight: bold;
  font-size: 12px;
}

#copyrights {
  /* margin: 0; */
  color: #0d5f53;
  font-weight: bold;
  font-size: 14px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  /* border: 2px solid red; */
  margin: 2px;
}
.socials p {
  height: 3px;
}
.socials img {
  height: 15px;
  /* height: 30px; */
  margin-right: 5px;
}

.browsers {
  display: flex;
  justify-content: flex-start; /* Align content horizontally at the start */
  align-items: center;
  /* margin-right: 5px; */
  padding-right: 5px;
}
.browsers p {
  /* margin: 0; */
  height: 3px;
  justify-content: center;
  align-self: center;
  margin-right: 22px;
  margin-left: 7px;
}
.browsers img {
  /* margin-right: 10px; */
  width: 65px;
}

.logos {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-left: 40px;
  padding-bottom: 5px;
}

.logos img {
  /* width: 100px; */
  height: 60px;
  margin: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.page-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* Horizontal alignment */
  align-items: center;
  height: 100px;
  background-color: white;
}

.user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
}

.user-icons {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
}

.user {
  justify-content: flex-end;
  /* align-self: flex-end; */
  color: blue;
  margin: 10px;
  text-align: -webkit-left;
  padding: 10px;
}

header {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  padding-right: 6%;
}
header hr {
  margin: auto;
  padding: 0;
  right: 0;
}
header h4 {
  color: blue;
  margin-top: 1rem;
  margin-left: 0rem;
  font-size: 12px;
  /* width: 160px; */
  height: 0;
  font-weight: bold;
}
header h3 {
  color: black;
  font-size: 14px;
  /* width: 100px; */
  /* margin-right: 50px; */
  height: 0px;
}

.user-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-icons span {
  margin: 5px;
  width: 40px;
  height: 30px;
}
.user-icons span:first-child {
  margin-right: 0;
}
.user-icons span:last-child {
  width: 120px;
  margin: 0;
}

.breadcrumb,
.breadcrumb-header {
  font-size: 14px;
}

.breadcrumb ul,
.breadcrumb-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: row-reverse; Reverse the order of items */
}

.breadcrumb li,
.breadcrumb-header li {
  display: inline;
}

.breadcrumb a {
  text-decoration: none;
  color: #095d4f;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb li + li::before {
  content: "   >   "; /* Separator with spaces */
  color: #6c757d; /* Gray color for separator */
  margin: 10px;
}

.breadcrumb li:last-child {
  /* Optionally, style the last item differently if needed */
  font-weight: bold;
  color: #4f8d84; /* Darker color for the last item */
  cursor: pointer;
}

.breadcrumb-header li {
  cursor: pointer;
  margin: 30px 80px 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.breadcrumb-header li:last-child {
  margin-right: 20px;
}

.breadcrumb-header li:first-child {
  color: #40b27a;
}

.breadcrumb-header li:first-child {
  text-decoration: #37ae74 underline;
  text-underline-offset: 17.5px; /* Offset distance */
}

/*  styles for pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 5px;
  flex-direction: row; /* Reverse the order of pagination items */
  /* border: 2px solid red; */
}





button
 {
  display: inline-block;
  padding: 6px 9px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s;
  border: 0;
  background-color: transparent;
}

button:hover {
  background-color: #005b4e;
  color: white; /* White text color on hover */
}

.active {
  background-color: #005b4e;
  color: white; /* White text color for the active page */
  border: 1px solid #005b4e; /* Same color border as background */
  border-radius: 0 4px 4px 0; /* Rounded corners for last item in reversed order */

}
.notactive {
  color: #d2d2d2; /* Gray color for disabled state */
  border-color: 0px #d2d2d2;
  background-color: transparent;
  pointer-events: none; /* Prevent clicking */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
.notactive:hover{
  background-color: transparent;
}

/* Styling for the first and last items (previous and next) */
.prevButton {
  /* background-color: transparent; */
  color: #5bbc8d;
  border-radius: 4px 0 0 4px; /* Rounded corners for first item in reversed order */
}



/* Disabled state */
.disabled {
  color: #d2d2d2; /* Gray color for disabled state */
  border-color: 0px #d2d2d2;
  background-color: transparent;
  pointer-events: none; /* Prevent clicking */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.vertical {
  width: 1px; /* Width of the vertical line */
  height: 35px; /* Height of the vertical line */
  background-color: gray;
}

.supervision p {
  margin-bottom: -11px;
  font-size: 8px;
}
