body {
  background-color: #f9fcfa;
  direction: rtl;
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system,
    BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
}

img {
  cursor: pointer;
}
span{
  cursor: pointer;
text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}

/* Main content styling */
main {
  flex: 1; /* Allows main to grow and fill the available space */
  padding: 0;
  background-color: #f9fcfa;
  margin: 10px;
}

footer,
header {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

/* buttons styling */
button {
  background-color: #1c8657;
  color: #e3efea;
}

.hidden-sorting-reset {
  background-color: #ffffff;
  color: #196495;
  border: 1px solid blue;
}

/* page-title styling*/
.page-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
}
.page-title h2 {
  color: #07584c;
  font-weight: bold;
}
.create-new {
  background-color: #1c8657;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 235px;
  color: white;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.icon-filters {
  float: left;
  margin: 1rem;
}

/* hidden filter-section styling */
.hidden-sorting {
  margin: 10% 0;
  background-color: #ffffff;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  /* border: 0.1px dotted black; */
  position: relative;
}

.hidden-sorting h2,
h3 {
  grid-column: 1/2;
  padding: 0px;
  margin-top: 1.5rem;
  grid-row: 1/2;
  margin-right: 20px;
  gap: 10px;
  font-size: 20px;
}
.hidden-sorting h2 {
  font-weight: bold;
  height: 30px;
  width: 60px;
  color: #0b594c;
  margin-top: 2rem;
  margin-bottom: 0;
}

.hidden-sorting h3 {
  margin-top: 4rem;
  /* font-size: 20px; */
  /* color: #0e77bb; */
}
.divider {
  margin-top: -8rem;
  grid-column: span 3;
  border: none;
  border-top: 2px solid #ddd;
}

.hidden-sorting h3,
label {
  color: #0e77bb;
}

.arabic-form,
.english-form {
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
  width: 60%;
}

.hidden-buttons {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-left: 1rem;
  display: flex; /* Use Flexbox inside grid items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hidden-sorting-search,
.hidden-sorting-reset {
  padding: 5px;
  margin-left: 1rem;
  /* border-radius: 2%; */
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 0;
  width: 100px;
  /* width: ; */
  font-weight: bold;
}
.hidden-sorting-search{
  width: 75px;
}

.icon-close {
  margin-top: 1rem;
  grid-column: 3/4;
  width: 50px;
  height: 50px;
  justify-self: end;
}

.hidden-sorting-search {
  align-items: start;
  margin: 0;
  grid-column: 4/5;
  /* width: 3rem; */
  
  background-color: #1c8657;
  color: white;
  border: 0;
}
.hidden-sorting input {
  border: 0;
  border-bottom: 1px solid gray;
}
/* table styling */
.table-section {
  width: 100%;
  margin: 2rem 0rem;
  /* border: 5px solid red; */
}

table {
  direction: rtl;
  text-align: right;
  counter-reset: none;
  align-self: center;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
  background-color: #1c8657;
  /* Background color for header row */
  padding: 10px;
  /* Padding inside header cells */
  border: 1px solid #ddd;
  /* Border around header cells */
}

thead {
  /* background-color: green; */
  color: white;
  text-align: right;
}

tbody tr {
  counter-increment: rowNumber;
  /*  counter for each row */
}

tbody tr::before {
  content: counter(rowNumber);
  /* Display the counter content before each row */
  display: table-cell;
  /*Make it behave like a table cell */
  /* text-align: center; Center the content */
}

tbody tr:nth-child(even) {
  background-color: #f9fcfa;
  /* Alternate row background color */
}

/* Different shade for even rows */
tbody tr:nth-child(odd) {
  background-color: #ffffff;
  /* Different shade for odd rows */
}

td time:last-child {
  display: block;
  color: gray;
}
td:last-child{
  text-align: center;
}
td,tr{
  border: 1px solid #d4d4d4;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
}

.footer-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  width: 100%;
  color: #0d5f53;
  font-weight: bold;
  font-size: 12px;
}

#copyrights {
  /* margin: 0; */
  color: #0d5f53;
  font-weight: bold;
  font-size: 14px;
  width: 300px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  /* border: 2px solid red; */
  margin: 2px;
}
.socials p {
  height: 4px;
}
.socials img {
  height: 20px;
  /* height: 30px; */
  margin-right: 5px;
}

.browsers {
  display: flex;
  justify-content: flex-start; /* Align content horizontally at the start */
  align-items: flex-start;
  /* margin-right: 5px; */
  padding-right: 5px;
}
.browsers p {
  /* margin: 0; */
  justify-content: center;
  align-self: center;
  margin-right: 22px;
  margin-left: 7px;
}
.browsers img {
  /* margin-right: 10px; */
  width: 70px;
}

.logos {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-left: 10px;
}

.logos img {
  /* width: 100px; */
  height: 70px;
  margin: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.page-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* Horizontal alignment */
  align-items: center;
  height: 100px;
  background-color: white;
}

.user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
}

.user-icons {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
}

.user {
  justify-content: flex-end;
  /* align-self: flex-end; */
  color: blue;
  margin:10px ;
  text-align: -webkit-left;
  padding: 10px;
}

header {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
}
header hr {
  width: 90%;
}
header h4 {
  color: blue;
  margin-top: 1rem;
  margin-left: 0rem;
  font-size: 12px;
  width: 160px;
  height: 0;
  font-weight: bold;
}
header h3 {
  color: black;
  font-size: 14px;
  width: 100px;
  /* margin-right: 50px; */
  height: 0px;

}

.user-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-icons span {
  margin: 5px;
  width: 40px;
  height: 30px;
  

}
.user-icons span:first-child {
  margin-right: 0;
}
.user-icons span:last-child {
  width: 120px;
  margin: 0;
}


.breadcrumb,.breadcrumb-header {
  font-size: 14px;
}

.breadcrumb ul , .breadcrumb-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: row-reverse; Reverse the order of items */
}

.breadcrumb li , .breadcrumb-header li{
  display: inline;
}

.breadcrumb a {
  text-decoration: none;
  color: #095d4f;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb li + li::before {
  content: '   >   '; /* Separator with spaces */
  color: #6c757d; /* Gray color for separator */
  margin: 10px;
}

.breadcrumb li:last-child{
  /* Optionally, style the last item differently if needed */
  font-weight: bold;
  color: #4f8d84; /* Darker color for the last item */
  cursor: pointer;
}

.breadcrumb-header li{
  cursor: pointer;
  margin: 30px 80px 10px 0 ;
  font-size: 20px;
  font-weight: bold;
}


.breadcrumb-header li:last-child{
  margin-right: 20px;
}

.breadcrumb-header li:first-child{
  color: #40b27a;
}

.breadcrumb-header li:first-child {
  text-decoration: underline;
  text-decoration-color: transparent; /* Make the default underline transparent */
  text-underline-offset: 4px; /* Offset distance */
  /* background: linear-gradient(to right, green 50%, white 50%); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* color: transparent; Make the text itself transparent to show the gradient background */

}